body{
    width: 100%;
    overflow-x: hidden;
    background-color: white;
}
.p{
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
}
.homec{
    position: relative;
    top: 50px;
}
.navh{
vertical-align: middle;
position: relative;
top: 5px;
font-weight: bolder;
}
.img{
    position: relative;
    
    width: 800px;
}
.img2{
    
    width: 500px;
}
footer a{
    text-decoration: none;
    color: black;
    
}